@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--big-star-color: rgba(255, 239, 95, 0.4);
	--small-star-color: rgba(198, 255, 126, 0.5);
	--star-ratio: 50%;
	--color1: #00BC9B;
	--color1-light: #36d3b7;
	--color1-lighter: #9DF5DD;
	--color1-dark: #078770;
	--color2: #A228E9;
	--color2-light: #CB46FA;
	--color2-lighter: #DD7CFF;
}

* {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

html {
	scrollbar-color: #6969dd #e0e0e0;
	scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: rgba(237, 237, 237, 0.5);
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: rgb(156, 156, 156);
	box-shadow: inset 0 0 6px rgb(113, 111, 102);
	border-radius: 4px;
	border: 1px solid transparent;
}

::-webkit-scrollbar-button:single-button {
	background-color: rgba(237, 237, 237, 0.5);
	display: block;
	border-style: solid;
	height: 6px;
	width: 10px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
	border-width: 5px 5px 0 5px;
	border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
	border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
}

.cyan-gradient {
	background: radial-gradient(60.63% 119.89% at 93.72% 9.86%, #BCFFDF 0%, rgba(255, 255, 255, 0.22) 100%) 
}

.default-background-color {
	background-color: #f0f0f0;
}

.outer-circle {
	position: absolute;
	--top: 28vh;
	--left: 15vw;
	--width: min(70vw, 1000px);
	--height: min(120vh, 70vw, 950px);
	--padding-x: 1em;
	--padding-y: 3em;
	top: calc(var(--top) * (-1));
	left: calc(var(--left) * (-1));
	width: var(--width);
	height: var(--height);

	border-radius: 50%;
	background: var(--color2-light);
	box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.25);
}

.inner-circle {
	position: absolute;
	--top: 35vh;
	--left: 15vw;
	--width: min(80vw, 1200px);
	--height: min(120vh, 70vw, 950px);
	--padding-x: 1em;
	--padding-y: 3em;
	top: calc(var(--top) * (-1));
	left: calc(var(--left) * (-1));
	width: var(--width);
	height: var(--height);
	border-radius: 50%;
	background: var(--color1-light);
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.text-inside {
	position: absolute;
	top: calc(var(--top) + var(--padding-y));
	left: calc(var(--left) + var(--padding-x));
	width: calc(var(--width) - var(--left) - 2 * var(--padding-x) - 1em);
	max-width: calc(100vw - 2 * var(--padding-x));
	z-index: 1;
}

.text-inside::before {
	content: "";
	position: absolute;
	inset: -1em;
	border-radius: 30%;
	background: #32b9a1;
	filter: blur(2em);
	z-index: -1;
}

@media (max-width: 1023px) and (orientation: portrait) {
	.outer-circle {
		--left: 20vw;
		--width: 100vw;
		--height: 100vh;
		--padding-y: calc(76px + 2em);
	}
	.inner-circle {
		--width: 120vw;
		--height: 100vh;
		--padding-y: calc(76px + 2em);
	}
}

@media (max-width: 1023px) and (orientation: landscape) {
	.outer-circle {
		--top: 10vh;
		--left: 20vw;
		--width: 80vw;
		--height: 100vh;
		--padding-y: calc(76px + 2em);
	}
	.inner-circle {
    --width: 100vw;
    --height: 120vh;
    --padding-y: calc(76px + 1em);
	}
}

@media (max-width: 450px) {
	.outer-circle {
		--left: 20vw;
    --width: 160vw;
    --height: 180vw;
    --padding-y: calc(76px + 1em);
	}
	.inner-circle {
    --left: 30vw;
    --width: 150vw;
    --height: 190vw;
    --padding-y: calc(76px + 1em);
	}
}

.signup-button:active {
	box-shadow: 0 0 0 2px white;
}

.landing-image {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30vw;
}

@media (max-width: 1023px) and (orientation: portrait) {
	.landing-image {
		width: 50vw;
	}
}

@media (max-width: 1023px) and (orientation: landscape) {
	.landing-image {
		width: 300px;
	}
}

@media (max-width: 639px) {
	.landing-image {
		width: 80vw;
	}
}

.landing article {
	background-image: linear-gradient(97.77deg, var(--color2-light) 41.58%, var(--color2) 82.63%);
}

.card-image {
	position: absolute;
	top: -24px;
	left: 24px;
	width: 4em;
}

@media (min-width: 1024px) {
	.card-image {
		width: 5em;
	}
}

.bottom-big-cricle {
	position: absolute;
	--width: min(100%, 900px);
	width: var(--width);
	aspect-ratio: 5 / 2;
	left: calc(50vw - var(--width) / 2);
	translate: 0 50%;
	bottom: 0;
	border-radius: 50%;
	background: var(--color1-light);
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
	transform: rotate(-7deg);
}

@media (max-width: 1023px) and (orientation: portrait) {
	.bottom-big-cricle {
		translate: 0 30%;
	}
}

.bottom-small-cricle {
	position: absolute;
	--width: 80px;
	width: var(--width);
	height: calc(var(--width) * 1.2);
	right: 5%;
	bottom: 15%;
	border-radius: 50%;
	background: var(--color2-lighter);
	box-shadow: 10px 0px 10px rgb(0 0 0 / 15%);
	transform: rotate(137.73deg);
}

.light-yellow {
	background-color: #fff5ea;
}

.auth-form {
	border: 1px solid #ffb979;
	box-shadow: 0 0 10px 2px #ffb979;
}

.auth-separator {
	border-bottom: 1px solid #ffb979;
	box-shadow: 0 4px 4px -4px #ffb979;
}

.auth-image {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30vw;
}

@media (max-width: 1023px) and (orientation: portrait) {
	.auth-image {
		width: 50vw;
	}
}

@media (max-width: 1023px) and (orientation: landscape) {
	.auth-image {
		width: 300px;
	}
}

@media (max-width: 639px) {
	.auth-image {
		display: none;
	}
}

.dashboard-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
	font-weight: 600;
	color: rgb(194 65 12);
}

.dashboard-title::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateX(180deg) skewX(60deg) scaleY(0.5) translateX(4px);
	transform-origin: bottom;
	line-height: 1.2em;
	background: linear-gradient(
		0deg,
		rgba(194 65 12 0.8) 0%,
		rgba(194 65 12 0.4) 80%
	);
	/* -webkit-background-clip: text; */
	color: transparent;
}

.play-button {
	margin: 0 auto;
	background-image: linear-gradient(
		90deg,
		black 0%,
		rgb(90, 0, 0) 33.33%,
		black 66.67%,
		rgb(90, 0, 0) 100%
	);
	background-size: 300% 100%;
	animation: wave 2s infinite;
	color: white;
	font-size: 1.5em;
	padding: 4px 36px;
	border-radius: 2em;
	cursor: pointer;
	transition: 0.2s;
}

.play-button:hover {
	animation-play-state: paused;
	transform: scale(1.05);
}

@keyframes wave {
	0% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}

.gradient-background {
	background-image: linear-gradient(
		180deg,
		#d37146 20%,
		rgba(160, 160, 0, 0.507) 50%,
		#0c910094 80%
	);
	background-size: 100% 200%;
	background-position: 50%;
	transition: 1s;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.orange-gradient {
	background-position: top;
}

.blue-gradient {
	background-position: bottom;
}

.big-circle {
	position: absolute;
	top: 0;
	left: 20%;
	width: clamp(200px, 35%, 350px);
	aspect-ratio: 9/10;
	background: rgba(255, 216, 246, 0.25);
	filter: blur(10px);
	transform: rotate(-20.98deg);
	border-radius: 50%;
	opacity: 0;
	transform: translate(60px, 30px);
	transition: 0.5s;
	/* z-index: -1; */
}

.small-circle {
	position: absolute;
	top: 35%;
	left: 7em;
	width: max(8%, 80px);
	aspect-ratio: 10/9;
	background: rgba(203, 230, 255, 0.21);
	filter: blur(8px);
	border-radius: 50%;
	opacity: 0;
	transform: translate(-20px, 1px);
	transition: 0.5s;
	/* z-index: -1; */
}

.big-star {
	position: absolute;
	top: 20%;
	left: 1em;
	width: clamp(250px, 45%, 450px);
	aspect-ratio: 4/3;
	background: linear-gradient(
				to bottom right,
				var(--big-star-color) 0%,
				transparent var(--star-ratio)
			)
			bottom right,
		linear-gradient(
				to bottom left,
				var(--big-star-color) 0%,
				transparent var(--star-ratio)
			)
			bottom left,
		linear-gradient(
				to top left,
				var(--big-star-color) 0%,
				transparent var(--star-ratio)
			)
			top left,
		linear-gradient(
				to top right,
				var(--big-star-color) 0%,
				transparent var(--star-ratio)
			)
			top right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	filter: blur(2px);
	opacity: 0;
	transform: rotate(70.53deg);
	transition: 0.5s;
	/* z-index: -1; */
}

.small-star {
	position: absolute;
	top: 2em;
	left: 30%;
	width: clamp(100px, 20%, 220px);
	aspect-ratio: 3/2;
	background: linear-gradient(
				to bottom right,
				var(--small-star-color) 0%,
				transparent var(--star-ratio)
			)
			bottom right,
		linear-gradient(
				to bottom left,
				var(--small-star-color) 0%,
				transparent var(--star-ratio)
			)
			bottom left,
		linear-gradient(
				to top left,
				var(--small-star-color) 0%,
				transparent var(--star-ratio)
			)
			top left,
		linear-gradient(
				to top right,
				var(--small-star-color) 0%,
				transparent var(--star-ratio)
			)
			top right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	filter: blur(2px);
	opacity: 0;
	transform: translate(3px, 120px) rotate(131.53deg);
	transition: 0.5s;
	/* z-index: -1; */
}

.show-decor {
	opacity: 1;
	transform: translate(0, 0);
}

.show-big-star {
	opacity: 1;
	transform: rotate(70.53deg) translate(0, 0);
}

.show-small-star {
	opacity: 1;
	transform: rotate(111.53deg) translate(0, 0);
}

@media (max-width: 450px) {
	.small-circle {
		top: 25%;
		left: 2em;
	}
	.big-star {
		top: 18%;
		left: -20px;
	}
}

.corner {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 120px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 100%;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.701);
}

.glowing-corner {
	animation: glow 2s forwards;
}

@keyframes glow {
	0% {
		box-shadow: none;
	}
	20% {
		box-shadow: 0 0 150px 50px rgba(255, 255, 255, 0.701);
	}
	100% {
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.701);
	}
}

.img-container {
	position: absolute;
	top: 0;
	right: 0;
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-container img {
	max-width: 70%;
	filter: blur(1px);
}

.option-light {
	background-color: white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.glow {
	box-shadow: 0 0 10px 5px white;
}

.glimmer {
	filter: blur(5px);
}

@media (max-width: 680px) {
	.option-light {
		width: 10px;
		height: 10px;
	}
}

.player-card {
	display: flex;
	max-width: 200px;
}

.ready-button {
	background: rgb(255, 254, 183);
	background: linear-gradient(
		180deg,
		rgba(255, 254, 183, 1) 0%,
		rgba(255, 217, 0, 1) 72%
	);
}

.ready-button-pressed {
	background-color: rgb(255, 217, 0, 1);
	box-shadow: 0 2px 2px rgba(83, 71, 0, 0.2);
}

.progress-bar {
	width: 100%;
	animation: shink 5s linear forwards;
}

@keyframes shink {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}
